
body{
    margin: 0px;
    overflow: hidden;
    cursor: wait;
    background-color: var(--fourth-color);
}

@media only screen and (max-width: 600px) {
    body {
        overflow: visible;
    }
  }

:root {
    --first-color: #FF7517;
    --second-color: #3E3939;
    --third-color: #2C2727;
    --fourth-color: #F6F4F4;
    --fifth-color: #141516;
  }